@tailwind base;
@tailwind utilities;
@tailwind components;


.image:hover .view {
  opacity: 1;
}

























  /* <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style> */